*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
USVGame/USVGame/bin/
USVGame/bin/
USVGame/USVGame/obj/
USVGame/obj/
USVGame/Content/obj/
!USVGame/x64
!USVGame/x86
!USVGame/Libraries
